@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

.gradient-text {
  background: linear-gradient(90deg, white, #d3d3d3); /* light gray */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s infinite;
  background-size: 200% 200%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.react-calendar {
  border: 0px !important;
  width: 100% !important;
  height: fit-content !important;
}

.react-calendar__tile {
  aspect-ratio: 1/1;
  background-color: #f8e9d1;
  position: relative;
}

active .react-calendar__tile .react-calendar__month-view__days__day {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__days__day:nth-child(7n + 1) {
  color: #eb6137;
}

.react-calendar__month-view__days__day:nth-child(7n) {
  color: #404a72;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #e6e6e6 !important;
}

.react-calendar__tile--now {
  border: solid 1px #f8e9d1 !important;
  background-color: white !important;
  border-radius: 9999px;
}

.react-calendar__tile--active {
  background-color: #f8e9d1 !important;
  color: black !important;
  border-radius: 9999px;
}

.react-calendar__tile:hover {
  background-color: #f8e9d1 !important  ;
}

/* .relative.inline-flex.shrink-0 {
  position: absolute !important;
  transform: translate(-13px, -8px);
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
